{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<main class="page-wrapper">
{% if cart | length > 0 %}

{% else %}

{% endif %}
</main>

{% endblock %}
