{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
  
</style>

    <nav>
      <ul class="navbar-items">
        <li>Accueil</li>
        <li>Produits</li>
      </ul>
    </nav>
    <h1>La reference du Gunpla</h1>
{% endblock %}
