/* global */

.page-title {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    margin-bottom: 4rem;
}

.menu_user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.menu_user a {
   
}

.menu_user p {
   background-color: aqua;
   border-radius: 50px;
   padding: 0.2rem;
}
/* homePage */
.logo img {
    width: 85px;
    height: 65px;

}

.product_img {
    width: 290px;
    height: 177.86px;
}

/* cart page*/

.cart-container {
    margin-top: 10rem;
    margin-bottom: 2rem;
    margin-left: 2rem;

}
.btn-danger {
    margin-bottom: 2rem;
}

.cart-container a {
    color: #000;
    font-size: 14px;

}

.cart_empty_container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.cart_empty_container p {
    text-align: center;
}


.cart_validation_container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.item_quantity_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.cart_product_flex  {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.cart_product_flex img {
    width: 200px;
    height: 150px;
    margin-bottom: 2rem;
}

.cart_quantity_button {
    background-color: aqua;
    border-radius: 50px;
}
.material-symbols-outlined {
    margin-left: 1rem;
}

.cart_total {
    font-size: 25px;
}
/* product page*/

.product-global_container {
    margin-top: 10rem;
}

.product_container {
    display: flex;
    flex-direction: row;
    gap: 15rem;
}

.product-global_container button {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 60%;


}

.product-global_container a {
    color: #fff;

}
.product_row_container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.down-content  {
    font-size: 14px;
}
.down-content #product_name {
    font-weight: bold;
    width: 70%;
    font-size: 16px;
}

.col-md-4 {
    margin-bottom: 3rem;
}


/* login page */

.login_container  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 4rem;
    width: 40%;


}

body > div.login_container > form > button {
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* order page */
.global_order_container {
    margin-top: 10rem;
}
.order_container {
    margin-left: 2rem;
    margin-top: 4rem;
}
.order_container  a {
    color: #fff;
}
.order_form {
    font-size: 14px;
    margin-bottom: 4rem;
}

.order_recap {
    margin-top: 2rem;
}

body > h1:nth-child(4) > div.order_container > div.order_recap > p {
    margin-bottom: 2rem;
}


/* registration page */

.registration_container {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 4rem;
}
