{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="product-container">
<h1 class="page-title">Produits<h1>
{% for product in products %}

<h1>{{ product.name }}</h1>
<p>{{ product.description}}</p>
<p>{{ product.price |number_format(2, ',', '.')}} €</p>
<a href={{ path('cart_add', {id: product.id}) }}>Ajouter au panier<a/>
<hr>
</div>
{% endfor %}

{% endblock %}
